<h2>{{student.nume}}'s Details</h2>
<div><span>id: </span>{{student.id}}</div>
<div><span>nume: </span>{{student.nume}}</div>
<div><span>prenume: </span>{{student.prenume}}</div>
<div><span>nota: </span>{{student.nota}}</div>
